/* BODY */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
}

/* CABEÇALHO */
header {
    background-color: #fd7e14;
    height: 8rem;
    margin: -1rem -1rem 0rem -1rem;
}

.logo_header {
    margin-left: 8rem;
    margin-top: 2rem;
    width: 50px;
}

/* RODAPE */
footer {
    margin: 0rem -1rem -1rem -1rem;
    background-color: #343a40;    
    padding: 2rem 5rem
}

/* CONTAINER */
.container {
    background-color:#f8f9fa;;
    margin: 0 3rem 0 3rem;
    padding-bottom: 8rem;
}
table {    
    width: 100%;    
}
.campo {
    border-radius: 5rem;
    width: 50%;
    height: 50%;
}
.button {
    text-align: center;
}
button {
    margin: 1rem 0;
    width: 50%;
    border-radius: 5rem;
}
.column_1 {
    padding-right: 1rem;
    text-align: right;    
}
.column_2 {
    padding-left: 1rem;
    text-align: left;    
}
.section {
    height: 4rem;
}
