/* BODY */
body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #fff; */    
    background-image: linear-gradient(#fd7e14,#007bff);
}

/* CABEÇALHO */
header {
    background-color: #fd7e14;
    height: 8rem;
    margin: -1rem -1rem 0rem -1rem;          
}
.colummLogo {
    width: 40%;
    text-align: center;
}
.logo_header {
    margin-top: 2rem;
    width: 50px;
    height: 50px;    
}
.title {    
    margin-top: 3rem;
    color: #343a40;
}

/* RODAPE */
footer {
    margin: 0rem -1rem -1rem -1rem;
    /* background-color: #343a40;     */
    background-color: #007bff;
    padding: 2rem 5rem
}
.nome_footer {
    color: #f8f9fa;
}

/* CONTAINER */
.container {
    background-color:#FDF6F0;
    margin: 0 5rem 0 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
table {    
    width: 100%;    
}
.campo {
    border-radius: 5rem;
    width: 80%;
    height: 50%;
}
.button {
    text-align: center;
}
button {
    margin: 1rem 0;
    width: 50%;
    border-radius: 5rem;
}
.subtitle {
    text-align: center;
}
.column_1 {
    padding-right: 1rem;
    text-align: right;    
}
.column_2 {        
    padding-left: 1rem;
    text-align: left;    
}
.section {
    height: 4rem;
}

/* JAVASCRIPT */

.column_3{
    text-align: left;
}
#CPFValido {
    display: none;
    color: #28a745;
}
#CPFInvalido {
    display: none;
    color: #dc3545
}

test{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}