header {
    background-color: #fd7e14;
    height: 8rem;
    margin: -1rem -1rem 0rem -1rem;
}

.logo_header {
    margin-left: 8rem;
    margin-top: 2rem;
    width: 50px;
}
footer {
    margin: 0rem -1rem -1rem -1rem;
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    width: 101%;
    padding: 2rem 5rem
}
